<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./log/server.log</file>
        <encoder>
            <immediateFlush>true</immediateFlush>
            <pattern>%d [%level] [%thread] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./log/server-%d.log</fileNamePattern>
            <maxHistory>20</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="ASYNCError" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="error"/>
        <discardingThreshold>90</discardingThreshold>
        <queueSize>65536</queueSize>
        <includeCallerData>false</includeCallerData>
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNCError"/>
    </root>
</configuration>
